.footer {
    text-align: 'center';
    padding: '1rem';
    margin-top: '2rem';
    background: linear-gradient(135deg, #346d51, #458859, #30a56b, #05964d, #024121);
    padding: 2rem;
    text-align: center;
    border-radius: 0 0 20px 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}