.header {
  background: linear-gradient(135deg, #095821, #036e39,#05964d,#09be64,#77e6ae);
  padding: 2rem;
  text-align: center;
  border-radius: 0 0 20px 20px;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.2rem;
  margin: 0;
  font-weight: 700;
}

.subtitle {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  opacity: 0.95;
  font-weight: 400;
}
